In [2]:
import pandas as pd
from pathlib import Path

In [3]:
# create path
student_csv = Path("Resources/students_complete.csv")
school_csv = Path("Resources/schools_complete.csv")

# read CSV into a Pandas DataFrame
student_df = pd.read_csv(student_csv)
school_df = pd.read_csv(school_csv)

# merge and print DataFrame
student_school_df = pd.merge(student_df, school_df, on="school_name")
student_school_df.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [19]:
# total number of unique schools
school_count = student_school_df["school_name"].nunique()
print(school_count)

15

In [8]:
# total number of students
student_count = student_school_df["Student ID"].count()
print(student_count)

39170

In [21]:
# total budget
total_budget_df = student_school_df["budget"].unique()
total_budget = total_budget_df.sum()
print(total_budget)

24649428

In [10]:
# average math score
avg_math_score = student_school_df["math_score"].mean()
print(avg_math_score)

78.98537145774827

In [11]:
# average reading score
avg_reading_score = student_school_df["reading_score"].mean()
print(avg_reading_score)

81.87784018381414