In [192]:
import pandas as pd
from pathlib import Path

In [193]:
# create path
student_csv = Path("Resources/students_complete.csv")
school_csv = Path("Resources/schools_complete.csv")

# read CSV into a Pandas DataFrame
student_df = pd.read_csv(student_csv)
school_df = pd.read_csv(school_csv)

# merge and print DataFrame
student_school_df = pd.merge(student_df, school_df, on="school_name")
student_school_df.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [194]:
# total number of unique schools
school_count = student_school_df["school_name"].nunique()
print(school_count)

15

In [195]:
# total number of students
student_count = student_school_df["Student ID"].count()
print(student_count)

39170

In [196]:
# total budget
total_budget_df = student_school_df["budget"].unique()
total_budget = total_budget_df.sum()
print(total_budget)

24649428

In [197]:
# average math score
avg_math_score = student_school_df["math_score"].mean()
print(avg_math_score)

78.98537145774827

In [198]:
# average reading score
avg_reading_score = student_school_df["reading_score"].mean()
print(avg_reading_score)

81.87784018381414

In [199]:
# percentage of students who passed math (scores >=70)
passing_math_count = student_school_df[(student_school_df["math_score"] >= 70)].count()["student_name"]
passing_math_percentage = passing_math_count / float(student_count) * 100
passing_math_percentage

74.9808526933878

In [200]:
# percentage of students who passed reading (scores >=70)
passing_reading_count = student_school_df[(student_school_df["reading_score"] >= 70)].count()["student_name"]
passing_reading_percentage = passing_reading_count / float(student_count) * 100
passing_reading_percentage

85.80546336482001

In [201]:
overall_passing_count = student_school_df[(student_school_df["math_score"] >= 70) & (student_school_df["reading_score"] >= 70)].count()["student_name"]
overall_passing_percentage = overall_passing_count / float(student_count) * 100
overall_passing_percentage

65.17232575950983

In [202]:
# create a high-level snapshot of district's key metrics in a DataFrame
district_summary = pd.DataFrame({"Total Schools": [school_count], 
                     "Total Students": [student_count], 
                     "Total Budget": [total_budget], 
                     "Avergae Math Score": [avg_math_score], 
                     "Average Reading Score": [avg_reading_score], 
                     "% Passing Math": [passing_math_percentage], 
                     "% Passing Reading": [passing_reading_percentage], 
                     "Percent Overall Passing": [overall_passing_percentage]})

# format
district_summary["Total Students"] = district_summary["Total Students"].map("{:,}".format)
district_summary["Total Budget"] = district_summary["Total Budget"].map("${:,.2f}".format)

# display dataframe
district_summary

,Total Schools,Total Students,Total Budget,Avergae Math Score,Average Reading Score,% Passing Math,% Passing Reading,Percent Overall Passing
0,15,"39,170","$24,649,428.00",78.985371,81.87784,74.980853,85.805463,65.172326

In [234]:
# select the type per school from school_data
school_types = school_df.set_index(["school_name"])["type"]

In [235]:
# total student count/school from school_data
total_student_count_per_school = school_df.groupby("school_name")["School ID"].count().reset_index()
per_school_counts

school_name            size
Bailey High School     4976    1
Cabrera High School    1858    1
Figueroa High School   2949    1
Ford High School       2739    1
Griffin High School    1468    1
Hernandez High School  4635    1
Holden High School     427     1
Huang High School      2917    1
Johnson High School    4761    1
Pena High School       962     1
Rodriguez High School  3999    1
Shelton High School    1761    1
Thomas High School     1635    1
Wilson High School     2283    1
Wright High School     1800    1
Name: count, dtype: int64

In [236]:
# calculate total school budget per school
per_school_budget = school_df["budget"]
per_school_budget

# calculate per capita spending per school
per_school_capita = school_df["budget"] / school_df["size"]
per_school_capita

0     655.0
1     639.0
2     600.0
3     652.0
4     625.0
5     578.0
6     582.0
7     628.0
8     581.0
9     609.0
10    583.0
11    637.0
12    650.0
13    644.0
14    638.0
dtype: float64

In [243]:
# average math scores per school
math_scores = student_school_df.groupby("school_name")["math_score"].mean()
math_scores

# average reading scores per school
reading_scores = student_school_df.groupby("school_name")["reading_score"].mean()
reading_scores

school_name
Bailey High School       81.033963
Cabrera High School      83.975780
Figueroa High School     81.158020
Ford High School         80.746258
Griffin High School      83.816757
Hernandez High School    80.934412
Holden High School       83.814988
Huang High School        81.182722
Johnson High School      80.966394
Pena High School         84.044699
Rodriguez High School    80.744686
Shelton High School      83.725724
Thomas High School       83.848930
Wilson High School       83.989488
Wright High School       83.955000
Name: reading_score, dtype: float64

In [238]:
# number of students per school passing math (scores >=70)
students_passing_math = student_school_df[(student_school_df["math_score"] >=70)]
school_students_passing_math = students_passing_math.groupby(["school_name"]).size()
school_students_passing_math

school_name
Bailey High School       3318
Cabrera High School      1749
Figueroa High School     1946
Ford High School         1871
Griffin High School      1371
Hernandez High School    3094
Holden High School        395
Huang High School        1916
Johnson High School      3145
Pena High School          910
Rodriguez High School    2654
Shelton High School      1653
Thomas High School       1525
Wilson High School       2143
Wright High School       1680
dtype: int64

In [239]:
# number of students per school passing reading (scores >=70)
students_passing_reading = student_school_df[(student_school_df["reading_score"] >=70)]
school_students_passing_reading = students_passing_reading.groupby(["school_name"]).size()
school_students_passing_reading

school_name
Bailey High School       4077
Cabrera High School      1803
Figueroa High School     2381
Ford High School         2172
Griffin High School      1426
Hernandez High School    3748
Holden High School        411
Huang High School        2372
Johnson High School      3867
Pena High School          923
Rodriguez High School    3208
Shelton High School      1688
Thomas High School       1591
Wilson High School       2204
Wright High School       1739
dtype: int64

In [240]:
# number of students per school passing math and reading (scores >= 70)
students_passing_math_and_reading = student_school_df[
    (student_school_df["reading_score"] >= 70) & (student_school_df["math_score"] >= 70)
]
school_students_passing_math_and_reading = students_passing_math_and_reading.groupby(["school_name"]).size()
school_students_passing_math_and_reading

school_name
Bailey High School       2719
Cabrera High School      1697
Figueroa High School     1569
Ford High School         1487
Griffin High School      1330
Hernandez High School    2481
Holden High School        381
Huang High School        1561
Johnson High School      2549
Pena High School          871
Rodriguez High School    2119
Shelton High School      1583
Thomas High School       1487
Wilson High School       2068
Wright High School       1626
dtype: int64

In [241]:
# passing rates
per_school_passing_math = school_students_passing_math / per_school_counts * 100
per_school_passing_reading = school_students_passing_reading / per_school_counts * 100
overall_passing_rate = school_students_passing_math_and_reading / per_school_counts * 100
overall_passing_rate

school_name            size
Bailey High School     4976    271900.0
Cabrera High School    1858    169700.0
Figueroa High School   2949    156900.0
Ford High School       2739    148700.0
Griffin High School    1468    133000.0
Hernandez High School  4635    248100.0
Holden High School     427      38100.0
Huang High School      2917    156100.0
Johnson High School    4761    254900.0
Pena High School       962      87100.0
Rodriguez High School  3999    211900.0
Shelton High School    1761    158300.0
Thomas High School     1635    148700.0
Wilson High School     2283    206800.0
Wright High School     1800    162600.0
dtype: float64

In [242]:
# create dataframe with columns for calculations from above
per_school_summary = pd.DataFrame({"School Types": [school_types],
                        "Total Students": [per_school_counts],
                        "Total School Budget": [per_school_budget],
                        "Per Student Budget": [per_school_capita],
                        "Average Math Score": [math_scores],
                        "Average Reading Score": [reading_scores],
                        "% Passing Math": [per_school_passing_math],
                        "% Passing Reading": [per_school_passing_reading],
                        "% Overall Passing": [overall_passing_rate]})

# format
# per_school_summary["Total School Budget"] = per_school_summary["Total School Budget"].map("${:,.2f}".format)
# per_school_summary["Per Student Budget"] = per_school_summary["Per Student Budget"].map("${:,.2f}".format)

# display dataframe
per_school_summary

,School Types,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,school_name Huang High School District ...,school_name size Bailey High School...,0 1910635 1 1884411 2 1056600 3 ...,0 655.0 1 639.0 2 600.0 3 652....,school_name Bailey High School 77.048432...,school_name Bailey High School 81.033963...,school_name size Bailey High School...,school_name size Bailey High School...,school_name size Bailey High School...